services:

  rocketchat:
    image: rocketchat/rocket.chat:4.5.0
    container_name: rocketchat
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/rocketchat?replicaSet=rs0
      - MONGO_OPLOG_URL=mongodb://mongodb:27017/local?replicaSet=rs0
      - ROOT_URL=http://localhost:3000
    depends_on:
      - mongodb

  mongodb:
    image: mongo:4.4.28
    container_name: mongodb
    restart: unless-stopped  
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongodb_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_PORT=27017
      # Если нужна аутентификация в MongoDB, раскомментируйте и укажите данные:
      # - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      # - ME_CONFIG_MONGODB_ADMINPASSWORD=pass
    depends_on:
      - mongodb      

volumes:
  mongodb_data:      