services:
  
  rocketchat:
    image: registry.rocket.chat/rocketchat/rocket.chat:7.10.5
    container_name: rocketchat    
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://host.docker.internal:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://host.docker.internal:27017/local
      - ROOT_URL=http://localhost:3000
      - PORT=3000
    extra_hosts:
      - "host.docker.internal:host-gateway"      
    volumes:
      - rocketchat_uploads:/app/uploads

volumes:
  rocketchat_uploads:      